.blue-container {
  height: 100%;
  width: 90%;
  background: #f0fbff;
  display: flex;
  flex-direction: column;
  // align-items: center;
  padding: 20px;
  .blue-top {
    display: flex;
    // flex-direction: column;
    width: 100%;
    height: 50vh;
    margin: 20px 20px;
    .blue-left {
      display: flex;
      flex-direction: column;
      padding-top: 50px;
      // justify-content: center;
      align-items: center;
      width: 600px;
      text-align: center;
      h1 {
        font-size: 32px;
        font-weight: 400;
        margin-bottom: 20px;
      }
      p {
        color: $darkGrey;
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        line-height: 120%;
        margin-left: auto;
        margin-right: auto;
        max-width: 410px;
      }
      a {
        margin-top: 20px;
        font-size: 18px;
        font-weight: 500;
        color: #0f7dc5;
        text-decoration: underline;
      }
    }
    .blue-right {
      img {
        height: auto;
        width: 105%;
        max-width: 700px;
        max-height: 700px;
      }
    }
  }
  .blue-bottom {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 50vh;
    margin: auto 0;
    .blue-left2 {
      display: flex;
      flex-direction: column;
      margin-right: 20px;
      padding-top: 50px;
      // justify-content: center;
      align-items: center;
      width: 600px;
      h1 {
        font-size: 32px;
        font-weight: 400;
        margin-bottom: 20px;
      }
      p {
        color: $darkGrey;
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        line-height: 120%;
        margin-left: auto;
        margin-right: auto;
        max-width: 410px;
      }
      a {
        margin-top: 20px;
        font-size: 18px;
        font-weight: 500;
        color: #0f7dc5;
        text-decoration: underline;
      }
    }
    .blue-right2 {
      display: flex;
      width: 100%;
      position: relative;
      .blue3 {
        height: 320px;
        width: auto;
        margin-right: 4px;
        position: relative;
        left: -5%;
        top: 0%;
      }
      .blue4 {
        height: auto;
        width: auto;
        max-width: 500px;
        // display: none;
        position: relative;
        left: -5%;
      }
    }
  }
}
