.content-container {
  margin-top: 200px;
  height: 200vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  // background: red;
  position: relative;
  .content-statement {
    display: flex;
    flex-direction: column;
    p {
      color: #666;
      font-size: 28px;
      font-weight: 300;
      margin-left: auto;
      margin-right: auto;
      width: 60%;
    }
    // background: red;
  }
  .content-statement2 {
    // height: 100%;
    width: 100%;
    display: flex;
    ul{
      margin: 40px 0;
      list-style: none;
      // display: inline-block;
      display: flex;
      // flex-direction: row-reverse;
    .li-statement{
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      align-items: center;
      padding: 0 50px;
      h1{
        font-size: 32px;
        margin-bottom: 30px;
        font-weight: 300;
      }
      p {
            font-size: 18px;
            width: 100%;
            margin-bottom: 30px;
        }
        button {
              height: 50px;
              width: 190px;
              border: none;
              color: $btn;
              border: 2px solid $btn;
              font-size: 15px;
              font-weight: bold;
              cursor: pointer;
              &:hover{
                color: rgb(253, 149, 132);
                border: 2px solid rgb(253, 149, 132);
              }
          }
    }
    li{
      picture{
        display: flex;
        // height: 100px;
        width: auto;
        img{
          display: flex;
          // height: 100px;
          width: auto;
          &:nth-child(1) {
                  height: 420px;
                  width: auto;
                  padding-right: 3px;
                }
                &:nth-child(2) {
                  height: 350px;
                  width: auto;
                }
        }
      }
  }
  }

    // background: peru;
    margin-top: 55px;
    // .statement2 {
    //   //       display: flex;
    //   // flex-direction: column;
    //   width: 50%;
    //   // margin-left: auto;
    //   // margin-right: auto;
    //   background: peru;
    //   h1 {
    //     font-size: 32px;
    //   }
    //   p {
    //     font-size: 18px;
    //   }
    //   button {
    //     height: 50px;
    //     width: 100px;
    //   }
    // }
    // .statement2-img-container {
    //   display: inline-block;
    //   // height: 100vh;
    //   img {
    //     // height: 100px;
    //     // width: 100px;
    //     &:nth-child(1) {
    //       height: 400px;
    //       width: auto;
    //     }
    //     &:nth-child(2) {
    //       height: 300px;
    //       width: auto;
    //     }
    //   }
    // }
  }
}
