* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.App {
  display: flex;
  flex-direction: column;
}

$grey: #f3f3f3;
$darkGrey: #767676;
$babyBlue: #f1fbfd;
$yellow: #ffd62b;
$background: #ffffff;
$btn: #fa8370;

@import "header";
@import "banner";
@import "content";
@import "fullyFav";
